{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block style %}
    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <span style="color: red;">{{ message }}</span>
        {% endfor %}
    {% endif %}
    <form method="post" style="text-align: center;">
        {% csrf_token %}
{#        <label for="first_name">First name</label><br>#}
        {#        <input type="text" name="first_name" id="first_name"/><br>#}
        {{ form.first_name }} <br>
{#        <label for="last_name">Last name</label><br>#}
        {#        <input type="text" name="last_name" id="last_name"/><br>#}
        {{ form.last_name }} <br>
{#        <label for="email">Email</label><br>#}
        {#        <input type="email" name="email" id="email"/><br>#}
        {{ form.email }} <br>
{#        <label for="username">Username</label><br>#}
        {#        <input type="text" name="username" id="username"/><br>#}
        {{ form.username }} <br>
{#        <label for="password">Password</label><br>#}
        {#        <input type="password" name="password" id="password"/><br>#}
        {{ form.password }} <br>
{#        <label for="password_confirm">Password Confirm</label><br>#}
        {#        <input type="password" name="password_confirm" id="password_confirm"/><br>#}
        {{ form.password_confirm }} <br>
        <input type="submit" value="Register"/>
    </form>
{% endblock %}

{% block js %}
    <!-- Javascript files-->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %}"></script>
    <script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %}"></script>
    <!-- javascript -->
    <script src="{% static 'js/main.js' %}"></script>

{% endblock %}

